* {
  padding: 0;
  margin: 0;
}

:root {
  --header: #15616d;
  --deepblue: #001524;
  --beige: #ffecd1;
  --accentOrange: #ff7d00;
  --Umber: #78290f;
  --Comments: #fbf5ed;
}
/*Header*/
nav {
  background-color: var(--header);
  height: 20vh;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas:
    "title title"
    "home add";
}
.headTitle {
  grid-area: title;
  margin: auto;
}

#home {
  grid-area: home;
}

#add {
  grid-area: add;
}

.headButton {
  height: 70%;
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

#homeButtonLink {
  text-align: center;
}

#home {
  margin-top: auto;
}

/*Articles */

.filter {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articleSort {
  height: 40px;
  width: 70px;
  margin-top: auto;
  margin: 10px;
  text-align: center;
}

.articleOrder {
  height: 40px;
  width: 70px;
  margin: 10px;
  margin-top: auto;
  text-align: center;
}

.articleList {
  margin: 20px;
}

.articleList li {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas:
    "title title"
    "topic author";
  margin-bottom: 20px;
  background-color: var(--beige);
  border-radius: 5px;
}

.articleTitle {
  grid-area: title;
  text-align: center;
  margin: auto;
  padding: 10px;
  color: var(--Umber);
}

.articleTopic {
  grid-area: topic;
  margin: auto;
  padding: 5px;
  padding-bottom: 10px;
}

.articleAuthor {
  grid-area: author;
  margin: auto;
  padding: 5px;
  padding-bottom: 10px;
}

.filter {
  margin: auto;
  text-align: center;
}

/* Single Article */

main {
  width: 85vw;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--beige);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 5;
  grid-template-areas:
    "title title"
    "topic author"
    "body body"
    "comments votes"
    "commentButton date";
}

#articleHead {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  grid-area: title;
}

#topic {
  grid-area: topic;
  margin-left: 30px;
  margin-bottom: 10px;
}

#singleAuthor {
  grid-area: author;
  text-align: right;
  margin-right: 30px;
}

#body {
  grid-area: body;
  text-align: justify;
  padding: 10px;
}

#comment_count {
  margin: 10px;
  margin-left: 30px;
}

#voting {
  grid-area: votes;
  display: flex;
}

#votes {
  margin: 10px;
}

#upVote {
  width: 50px;
  margin: auto;
}

#downVote {
  width: 70px;
  margin: auto;
}

#date {
  margin: auto;
  padding: 10px;
  grid-area: date;
}

#commentButt {
  grid-area: commentButton;
}
/*Comments*/

.commentList {
  width: 75vw;
  margin: auto;
  list-style: none;
  background-color: var(--Comments);
  margin-top: 5px;
  padding: 8px;
  border-radius: 20px;
}

.commentList p {
  margin: 10px;
}

.commentForm {
  margin: auto;
  width: 50vw;
  border: 1px solid black;
  display: flex;
}

.commentForm label {
  width: 20%;
  margin: auto;
}
.commentForm textArea {
  margin: auto;
  height: 80px;
  width: 300px;
}

.commentForm button {
  margin: auto;
}

.invalid {
  background-color: red;
}

.errorMsg {
  color: red;
}
/*Missing*/

.missingPage {
  width: 95vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#missingDog {
  width: 70vw;
  height: auto;
  max-width: 837px;
  max-height: 895px;
}

#missingText {
  font-size: 2.5rem;
}

@media screen and (min-width: 945px) {
  /*Articles*/
  .filter {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .articleSort {
    height: 70px;
    width: 100px;
    margin-top: auto;
    margin: 10px;
    text-align: center;
  }

  .articleOrder {
    height: 70px;
    width: 100px;
    margin: 10px;
    margin-top: auto;
    text-align: center;
  }

  section {
    width: 95vw;
    margin: auto;
  }
  .articleList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .articleList li {
    width: 45%;
    max-width: 665px;
    height: 150px;
    margin: 10px;
    font-size: 1.4rem;
  }

  /*single Article*/

  main {
    width: 65vw;
  }

  .articleP {
    font-size: 1.4rem;
  }

  /*comments*/

  .commentList {
    width: 50vw;
    margin: auto;
    list-style: none;
    background-color: var(--Comments);
    margin-top: 5px;
    padding: 8px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1890px) {
}
